<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTOPAY</title>
    <link rel="stylesheet" href="style_auth.css">
</head>

<body>
    <header>
        <div class="header-navbar">
            <nav class="header-navbar-section">
                <div class="left-section">
                    <a href="#" class="navbar-link-text">Главная</a>
                    <a href="#" class="navbar-link-text">Поддержите нас</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="list-group-main">
            <div class="rectangle-authorize">
                 <div class="behind-rectangle-authorize">
                    <p class="text">Регистрация</p>
                    
                 </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</body>